<!--
displaying all organizations and for creating organizations
-->
<ion-view view-title="Manage Organizations">
  <ion-nav-buttons side="right">
    <a class="button" href="#/tab/settings/organizations/new">
      <i class="ion-ios-plus-outline" data-pack="ios" data-tags="add, include, new, invite, +"> New </i>
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="org in organizationsList | orderBy : 'name'" type="item-text-wrap" href="#/tab/settings/organizations/{{org.objectId}}" on-hold="showActionSheet(org.objectId, org.name)">
       <img ng-src="{{org.logo}}">
        <h2>{{org.name}}</h2>
        <p>{{org.address1}}</p>
        <p>{{org.phone}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>