<ion-view view-title="Rooms">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="room in rooms" type="item-text-wrap" href="#/tab/rooms/{{room.id}}">
        <img ng-src="{{room.image}}">
        <h2>{{room.id}} - {{room.name}}</h2>
        <p>Floor :  {{room.floor}}</p>
        <p>Capacity :  {{room.capacity}}</p>
        <p>{{room.aminities}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
