<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Organization</div>
      <div class="item item-body">
      <select class="col col-50">
      <option selected>InnFancy</option>
      <option >Green</option>
      <option>Red</option>
    </select>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Vacancy</div>
      <div class="item item-body">
        <div>
          We have <b>0</b> vacancy(s)
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Settlement</div>
      <div class="item item-body">
        <div>
          <b>0</b> pending
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
